<?xml version='1.0' encoding='utf-8'?>
<widget id="com.beepwedding.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name short="Beep Wedding">Beep Wedding</name>
    <description>
        Controle offline de convidados, check-in por QR Code e sincronização local.
    </description>
    <author email="contato@beepwedding.app" href="https://beepwedding.app">
        Beep Wedding Team
    </author>
    <content src="index.html" />
    <preference name="AndroidPersistentFileLocation" value="Compatibility" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-compileSdkVersion" value="36" />
    <preference name="android-targetSdkVersion" value="36" />
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="SplashScreenDelay" value="0" />
    <preference name="FadeSplashScreenDuration" value="0" />
    <icon src="www/img/beep-wedding-logo.svg" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <platform name="android">
        <icon density="ldpi" src="resources/android/icon/drawable-ldpi-icon.png" />
        <icon density="mdpi" src="resources/android/icon/drawable-mdpi-icon.png" />
        <icon density="hdpi" src="resources/android/icon/drawable-hdpi-icon.png" />
        <icon density="xhdpi" src="resources/android/icon/drawable-xhdpi-icon.png" />
        <icon density="xxhdpi" src="resources/android/icon/drawable-xxhdpi-icon.png" />
        <icon density="xxxhdpi" src="resources/android/icon/drawable-xxxhdpi-icon.png" />
    </platform>
</widget>
